* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #181818;
    height: 100vh;
}

.color-picker-container {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 34px;
    left: 34px;
    border: 1px solid white;
}

.color-picker {
    opacity: 0;
}

.container {
    width: max-content;
    height: max-content;
    overflow: scroll;
    position: relative;
}

.grid {
    display: block;
}
